<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
    <!-- Add local styles, mostly for plugins css file -->
    @if ( IsSectionDefined("Styles") )
    {@RenderSection("Styles" , required: false)} 

    <!-- Add jQuery Style direct - used for jQGrid plugin -->
    <link href="@Url.Content("~/Scripts/plugins/jquery-ui/jquery-ui.css")" rel="stylesheet" type="text/css" />

    <title> @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/font-awesome/css")
    @Styles.Render("~/Content/ej/web/bootstrap-theme/ej.web.all.min.css")
 
 
    
</head>
<body  class="top-navigation">
 
    <!-- Wrapper-->
    @*<div id="wrapper">*@
    <div id="wrapper" class="@Html.PageClass()">
        <!-- Navigation -->
        @*   @Html.Partial("_Navigation")*@

        <!-- Page wraper -->
        <div id="page-wrapper" class="gray-bg @ViewBag.SpecialClass">

            <!-- Top Navbar -->
           @* @Html.Partial("_TopNavbar")*@

            <!-- Main view  -->
            @RenderBody( )

            <!-- Footer -->
           @* @Html.Partial("_Footer")*@

        </div>
        <!-- End page wrapper-->
       </div>
        <!-- End wrapper-->


        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/plugins/metsiMenu")
        @Scripts.Render("~/plugins/pace")
        @Scripts.Render("~/plugins/slimScroll")
        @Scripts.Render("~/bundles/inspinia")
        @*@Scripts.Render("~/bundles/ejscripts")*@
        @RenderSection("scripts" , required: false)

    <script>
        $('body.canvas-menu .sidebar-collapse').slimScroll({
            height: '100%',
            railOpacity: 0.9
        });
    </script>

</body>
</html>
